/*! flag-icons-ca.css | Canadian Provincial & Territorial Flags */
.fi-ca-ab {
    background-image: url("../flags/4x3/ca-ab.svg");
}

.fi-ca-bc {
    background-image: url("../flags/4x3/ca-bc.svg");
}

.fi-ca-mb {
    background-image: url("../flags/4x3/ca-mb.svg");
}

.fi-ca-nb {
    background-image: url("../flags/4x3/ca-nb.svg");
}

.fi-ca-nl {
    background-image: url("../flags/4x3/ca-nl.svg");
}

.fi-ca-ns {
    background-image: url("../flags/4x3/ca-ns.svg");
}

.fi-ca-nt {
    background-image: url("../flags/4x3/ca-nt.svg");
}

.fi-ca-nu {
    background-image: url("../flags/4x3/ca-nu.svg");
}

.fi-ca-on {
    background-image: url("../flags/4x3/ca-on.svg");
}

.fi-ca-pe {
    background-image: url("../flags/4x3/ca-pe.svg");
}

.fi-ca-qc {
    background-image: url("../flags/4x3/ca-qc.svg");
}

.fi-ca-sk {
    background-image: url("../flags/4x3/ca-sk.svg");
}

.fi-ca-yt {
    background-image: url("../flags/4x3/ca-yt.svg");
}
